*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: #549688;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 20px;
    height: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    /* 利用阴影绘制另一个小球 */
    box-shadow: -60px 0 0 rgba(255,255,255,1);
    /* 执行动画：动画名 时长 加速后减速 无限循环 来回轮流 */
    animation: spin 1s ease-in-out infinite alternate;
}

/* 定义动画 */
/* 不透明度+旋转+缩放 */
@keyframes spin {
    0%{
        opacity: 0.35;
        transform: rotate(0deg) scale(0.5);
    }
    100%{
        opacity: 1;
        transform: rotate(360deg) scale(1.2);
    }
}