$btnColors: #409eff, #67c23a, #8b590f, #f54343, #6c6d71;

@for $i from 1 through length($btnColors) {
  $color: nth($btnColors, $i);

  .btn.type-#{$i} {
    background: $color;
    color: #fff;

    &:hover {
      background: lighten($color, 10%) 
    }

    &:active {
      background: darken($color, 10%)
    }

    &:disabled {
      background: lighten($color, 20%);
      color: white;
    }
  }
}

.btn {
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin: 10px auto
}