*{
    margin: 0;
    padding: 0;
}
body{
    /* 100%窗口宽高 */
    min-height: 100vh;
    /* 弹性布局 居中演示 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaf0f3;
}
.container{
    background-color: #1ecaab;
    color: #fff;
    padding: 25px 30px;
    border-radius: 30px;
}
/* 输入框样式 */
.ipt{
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-indent: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #fff;
    outline: none;
    font-size: 16px;
    /* 绝对定位 在底部 水平居中 */
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
/* 获得焦点样式 */
.ipt:focus{
    border-color: #1ecaab;
}
/* ruby标签样式 */
ruby{
    padding: 10px;
    font-size: 32px;
}
rt{
    font-size: 20px;
}