.container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
 transition: 0.5s; 
}

@for $i from 1 through 9 {
  .item:nth-child(#{$i}) {
    background-color: hsl($i*20%, 100%, 75%);
  }

  .container:has(.item:nth-child(#{$i}):hover) {
    $r: floor($i / 3 + 1);
    $c: $i % 3 + 1;
    $arr: 1fr 1fr 1fr;
    $rows : set-nth($arr, $r, 2fr);
    $cols : set-nth($arr, $c, 2fr);
    grid-template-rows:$rows;
    grid-template-columns: $cols;
  }
}

//  .container:has(.item:nth-child(2):hover) {
//   grid-template-columns: 1fr 2fr rff;
//     grid-template-rows: 2fr 1fr 22r;
//  }